<a href="https://colab.research.google.com/github/HappyTunas/python1/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Question 1 - 1 
print("kor 90")
print ("mat 80")
print ("eng 100")
print ("sum 270")
print("avg 90")

kor 90
mat 80
eng 100
sum 270
avg 90

In [ ]:
#Question 1 - 2
print("TTTTTTTTTT")
print("TTTTTTTTTT")
print("    ""TT""     ")
print("    ""TT""     ")
print("    ""TT""     ")

TTTTTTTTTT
TTTTTTTTTT
    TT
    TT
    TT

In [ ]:
#Question 1 - 3
x = int(input("What is your first number? :"))
y = int(input("What is your second number? :"))
z = x+y
print(z)

What is your first number? :1
What is your second number? :2
3

In [4]:
#Question 1 - 4
a = int(input("What is your first number? :"))
b = int(input("What is your second number? :"))
c = int(input("What is your third number? :"))
z = a+b+c
x = z//3
print("sum =",z)
print ("avg :=",x)

What is your first number? :20
What is your second number? :50
What is your third number? :100
sum = 170
avg := 56

In [9]:
#Question 1 - 5
x = float(input("yard? :"))
double = x * 91.44
doublea = round(double , 1)
print(doublea,"cm")

yard? :10.1
923.5 cm

In [1]:
#Question 2 - 1
x = int(input("What is your first number? :"))
y = int(input("What is your second number? :"))
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

What is your first number? :4
What is your second number? :5
False
True
False
True

In [ ]:
#Question 2 - 2
x = int(input("What is your first number? :"))
y = int(input("What is your second number? :"))
z = int(input("What is your third number? :"))
if x > y and z:
  print("1")
else :  
    print("0")

What is your first number? :9
What is your second number? :10
What is your third number? :10
0

In [ ]:
#Question 2 - 3
x = int(input("What is your first number? :"))
y = int(input("What is your second number? :"))
x = (x+1)
y = (y-1)
z = (x*y)
print(x)
print(y)
print(z)

What is your first number? :10
What is your second number? :20
11
19
209

In [5]:
#Question 2 - 4
x = int(input("What is Minsoo's height? :"))
y = int(input("What is Minsoo's weight :"))
a = int(input("What is Kiyeong's height? :"))
b = int(input("What is Kiyeong's weight? :"))
if x > a and y > b:
  print("1")
else:
  print ("0")

What is Minsoo's height? :150
What is Minsoo's weight :35
What is Kiyeong's height? :145
What is Kiyeong's weight? :35
0