<a href="https://colab.research.google.com/github/HappyTunas/python1/blob/main/Week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
x=int(input("how many people are eating:"));


print("Number of chicken:", x * 1,"chickens")
print("Number of beer:", x * 2, "cans of beer")
print("Number of cake:", x * 4, "cakes")

how many people are eating:25
Number of chicken: 25 chickens
Number of beer: 50 cans of beer
Number of cake: 100 cakes

In [12]:
x=10
y=20
z=x

x=y
y=z
print(x,y)

20 10

In [17]:
print("Sussus Amongus")

Sussus Amongus

In [16]:
age=input("Age?:");
print(age)
print(type(age));
print(type(int(age)))

Age?:10
10
<class 'str'>
<class 'int'>

In [18]:
x = int(input("First Number: "))
y = int(input("Second Number: "))
sum = x + y
print("Answer is" , sum)

First Number: 10
Second Number: 20
Answer is 30

In [21]:
x = int(input("What is your radius: "))
ball = (4/3 * 3.141592 * x**3)
print("ball radius", ball);

What is your radius: 5
ball radius 523.5986666666666

In [22]:
print("집가고샆더")

집가고샆더

In [36]:
x = int(input("How much is it?: "))
y = int(input("1000원 지폐개수: "))
z = int(input("500원 동전개수: "))
c = int(input("100원 동전개수: "))
change = y*1000 + z*500 + c*100 - x
xchange = change//500
change = change%500

ychange = change//100
change = change%100

zchange = change//10
change = change%10

cchange = change//1

print("500원",xchange,"개")
print("100원",ychange, "개")
print("10원", zchange, "개")
print("1원", cchange, "개")

How much is it?: 750
1000원 지폐개수: 1
500원 동전개수: 0
100원 동전개수: 0
500원 0 개
100원 2 개
10원 5 개
1원 0 개

In [44]:
x = (input("Please enter your first word: "))
y = (input("Please enter your second word: "))
z = (input("Please enter your third word: "))
a = x[0] +y[0] +z[0]
print(a)

Please enter your first word: Original
Please enter your second word: Sound
Please enter your third word: Track
OST

In [46]:
print( x[0] ,y[0] ,z[0],sep='')

OST

In [52]:
x = int(input("Please enter your carrier'/s weight: "))
if(x < 20) :
  print("짐에 대한 수수료는 없읍니다.")
  print("감사합니다")
else :
  print("짐의 무게는 얼마입니까?" , x)
  print("무거운 짐은 20,000원을 내셔야 합니다.")
  print("감사합니다")

Please enter your carrier'/s weight: 21
짐의 무게는 얼마입니까? 21
무거운 짐은 20,000원을 내셔야 합니다.
감사합니다